setuptools==45
numpy
tiffile
openslide-python
sklearn
pandas
pyecvl
pyeddl
clize
dask[complete]
zarr
dataclasses
opencv-python
shapely
tiledb==0.7.0
progress
stringcase
napari-lazy-openslide
scikit-image
