setuptools==45
numpy==1.19.5
openslide-python==1.1.2
pyecvl==1.1.0
pyeddl==1.2.0
clize==4.2.1
zarr==2.8.3
dataclasses==0.6
progress==1.6
stringcase==1.2.0
scikit-image==0.17.2
fsspec>=0.3.3
onnx==1.11.0
